1. 'f3'컬럼이 gold이면서 'f2'컬럼이 2인 데이터를 구하시오
2. 찾은 데이터에서 f1컬럼의 분산을 구하시오.(반올림 후 소수 둘재 자리가지 구하시오)

In [2]:
import pandas as pd
df = pd.read_csv('type1_data1.csv')

In [3]:
cond = df['f3'] == 'gold'
cond2 = df['f2'] == 2
df = df[cond & cond2]

In [4]:
df

        id   age city    f1  f2    f3    f4         f5  subscribed   views
18    id18  41.0   서울  87.0   2  gold  ISFJ  80.138280  2024-03-03  7933.0
29    id29 -13.5   부산  47.0   2  gold  ENTP  67.886373  2024-08-28  6793.0
42    id42  65.0   대구  48.0   2  gold  ESTP  33.308999  2024-02-09  5999.0
55    id55  75.0   대구  63.0   2  gold  ENTP  13.049921  2024-02-06  6042.0
64    id64  43.0   경기  62.0   2  gold  ESFP  73.586397  2024-02-22  5995.0
68    id68  35.0   경기  45.0   2  gold  ISFP  67.886373  2024-07-29  8599.0
71    id71  35.0   경기  84.0   2  gold  ISFP  52.667078  2024-07-15  8087.0
101   id68  35.0   경기  45.0   2  gold  ISFP  67.886373  2024-07-29  8599.0
112  id111  22.0   부산  65.0   2  gold  ENTP   0.000000  2025-02-17  7894.0
118  id117  23.0   대구  65.0   2  gold  INFP   0.000000  2025-02-17  6543.0

In [5]:
round(df['f1'].var(),2)

np.float64(235.43)