In [9]:
import pandas as pd
df = pd.read_csv('type1_data1.csv')

1. f1. subscribed컬럼이 2024 2월인 데이터를 찾으시오
2. 위에서 찾은 데이터 중 f3컬럼이 gold인 데이터의 개수를 구하시오

In [10]:
df['subscribed']= pd.to_datetime(df['subscribed'])

In [11]:
df['year'] = df['subscribed'].dt.year
df['month'] = df['subscribed'].dt.month

In [15]:
ex = df['year'] == 2024
ex1 = df['month']  == 2
ex2 = df['f3'] == 'gold'
df = df[ex & ex1 & ex2]
print(len(df))

5

In [13]:
df

,id,age,city,f1,f2,f3,f4,f5,subscribed,views,year,month
22,id22,-6.3,부산,72.0,1,gold,ENFP,52.667078,2024-02-09,6147.0,2024,2
31,id31,86.0,부산,77.0,0,gold,ESFJ,73.586397,2024-02-11,8014.0,2024,2
42,id42,65.0,대구,48.0,2,gold,ESTP,33.308999,2024-02-09,5999.0,2024,2
55,id55,75.0,대구,63.0,2,gold,ENTP,13.049921,2024-02-06,6042.0,2024,2
64,id64,43.0,경기,62.0,2,gold,ESFP,73.586397,2024-02-22,5995.0,2024,2