1. 결측치가 있는 행을 삭제하시오
2. 결측치가 삭제된 데이터를 사용하여, 지역별 평균을 구하시오
3. 앞에서 계산한 지역별 평균 데이터에서 f2컬럼의 값중 가장 큰 지역을 구하시오.

In [18]:
import pandas as pd
df = pd.read_csv('type1_data1.csv')

In [28]:
print(df.isna().sum())
df.dropna(inplace = True)
print("---")
print(df.isna().sum())

id            0
age           0
city          0
f1            0
f2            0
f3            0
f4            0
f5            0
subscribed    0
views         0
dtype: int64
---
id            0
age           0
city          0
f1            0
f2            0
f3            0
f4            0
f5            0
subscribed    0
views         0
dtype: int64

In [33]:
df= df.groupby(['city']).mean(numeric_only = True)

In [36]:
df['f2'].idxmax()

'서울'