In [6]:
import pandas as pd
df = pd.read_csv('type1_data1.csv')

1. 결측치가 가장 많은 두 컬럼을 찾으시오
2. 첫 번재로 결측치가 많은 컬럼에서 결측치가 있는 데이터를 삭제하시오
3. 두 번째로 결측치가 많은 컬럼을 최빈값으로 대체하시오
4. f3컬럼의 gold값을 가진 데이터의 수를 정수형으로 구하시오
5.

In [7]:
print(df.isnull().sum())

id             0
age            0
city           0
f1            31
f2             0
f3            29
f4             0
f5             0
subscribed     0
views          4
dtype: int64

In [8]:
df = df.dropna(subset = ['f1'])

In [9]:
freq = df['f3'].mode()[0]
df['f3']  = df['f3'].fillna(freq, inplace = True)

C:\Users\Public\Documents\ESTsoft\CreatorTemp\ipykernel_23820\2597380087.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['f3']  = df['f3'].fillna(freq, inplace = True)

In [11]:
print(sum(df['f3']=='gold'))

0