0을 제외하고, view컬럼 결측치를 최소값으로 채우세요.
그리고 view 컬럼 중앙값을 구하세요.

In [140]:
import pandas as pd
df = pd.read_csv('type1_data1.csv')

In [141]:
cond = df['f5'] != 0
df = df[cond]

In [142]:
min = df['views'].min()
df['views'].fillna(min, inplace = True)
df['views'].median()

C:\Users\Public\Documents\ESTsoft\CreatorTemp\ipykernel_21416\2557412062.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['views'].fillna(min, inplace = True)

np.float64(5924.0)

In [143]:
df

        id    age city    f1  f2    f3    f4         f5  subscribed    views
0     id01    2.0   서울   NaN   0  gold  ENFJ  91.297791  2024-07-16   6820.0
1     id02    9.0   서울  70.0   1   NaN  ENFJ  60.339826  2024-05-12   2534.0
2     id03   27.0   서울  61.0   1  gold  ISTJ  17.252986  2024-03-16   7312.0
3     id04   75.0   서울   NaN   2   NaN  INFP  52.667078  2024-07-21    493.0
4     id05   24.0   서울  85.0   2   NaN  ISFJ  29.269869  2024-03-07   1338.0
..     ...    ...  ...   ...  ..   ...   ...        ...         ...      ...
97    id97  100.0   경기   NaN   0  gold  INFP  67.886373  2024-03-18   6687.0
98    id98   39.0   경기  58.0   2   NaN  INFP  98.429899  2024-10-02    865.0
99    id99    1.0   경기  47.0   0  gold  ESFJ  97.381034  2024-12-02   6090.0
100  id100   47.0   경기  53.0   0   vip  ESFP  33.308999  2024-02-21  15535.0
101   id68   35.0   경기  45.0   2  gold  ISFP  67.886373  2024-07-29   8599.0

[102 rows x 10 columns]

subscribed종류 중 가장 많은 날짜 구하고, 일 값을 찾고 정수형으로 변경

In [151]:
import pandas as pd

df = pd.read_csv('type1_data1.csv')

In [152]:
df

        id   age city    f1  f2      f3    f4         f5  subscribed   views
0     id01   2.0   서울   NaN   0    gold  ENFJ  91.297791  2024-07-16  6820.0
1     id02   9.0   서울  70.0   1     NaN  ENFJ  60.339826  2024-05-12  2534.0
2     id03  27.0   서울  61.0   1    gold  ISTJ  17.252986  2024-03-16  7312.0
3     id04  75.0   서울   NaN   2     NaN  INFP  52.667078  2024-07-21   493.0
4     id05  24.0   서울  85.0   2     NaN  ISFJ  29.269869  2024-03-07  1338.0
..     ...   ...  ...   ...  ..     ...   ...        ...         ...     ...
115  id114  22.0   대구  23.0   0    gold  INTP   0.000000  2025-02-17  9747.0
116  id115  23.0   부산  65.0   0     vip  ENTP   0.000000  2025-02-17  5628.0
117  id116  23.0   서울  12.0   1  silver  INFP   0.000000  2025-02-17  1267.0
118  id117  23.0   대구  65.0   2    gold  INFP   0.000000  2025-02-17  6543.0
119  id118  24.0   부산  94.0   1     vip  ESFJ   0.000000  2025-02-17  2356.0

[120 rows x 10 columns]

In [153]:
df=df['subscribed'].value_counts()
print(df.index[0][-2:])

17

In [154]:
import pandas as pd

df = pd.read_csv('type1_data1.csv')

결측치를 제거하고, 새로운 new컬럼을 계산한다.(views를 fi으로 나눠라)
그리고 내림차순 정렬한다.
마지막으로 age의 첫번재 값을 찾는다.

In [155]:
df = df.dropna()

In [156]:
df['new'] = (df['views']/df['f1'])

In [160]:
df  = df.sort_values('new', ascending = False)

In [161]:
df

,id,age,city,f1,f2,f3,f4,f5,subscribed,views,new
115,id114,22.0,대구,23.0,0,gold,INTP,0.000000,2025-02-17,9747.0,423.782609
83,id83,73.0,경기,50.0,1,vip,ENTP,80.138280,2024-09-26,19139.0,382.780000
5,id06,22.0,서울,57.0,0,vip,INTP,20.129444,2024-09-12,21550.0,378.070175
105,id104,21.0,서울,13.0,0,silver,ESFJ,0.000000,2025-02-17,4556.0,350.461538
106,id105,21.0,경기,24.0,0,gold,ESFJ,0.000000,2025-02-17,7654.0,318.916667
...,...,...,...,...,...,...,...,...,...,...,...
109,id108,21.0,서울,54.0,1,gold,ESTJ,0.000000,2025-02-17,2178.0,40.333333
57,id57,3.0,대구,111.0,0,silver,ISFJ,29.269869,2024-01-12,4421.0,39.828829
7,id08,38.0,서울,101.0,1,silver,INFJ,83.685380,2024-03-06,3260.0,32.277228
108,id107,21.0,부산,76.0,1,silver,ESTJ,0.000000,2025-02-17,2346.0,30.868421
119,id118,24.0,부산,94.0,1,vip,ESFJ,0.000000,2025-02-17,2356.0,25.063830

In [165]:
print(df.iloc[0,1])

22.0

##### views를 결측 데이터 0으로 대체
##### 내림차순 정렬
##### views 상위 10개 데이터에 최소값 대입
##### views 컬럼의 합을 구해라

In [192]:
import pandas as pd
df = pd.read_csv('type1_data1.csv')
df = df.sort_values('views', ascending = False)
min_result = df.iloc[:10].min()

In [193]:
df.iloc[10:-1] = min_result

In [196]:
int(df['views'].sum())

1229120

In [197]:
import pandas as pd
df = pd.read_csv('type1_data1.csv')

In [198]:
df['views'].fillna(0, inplace=True)

C:\Users\Public\Documents\ESTsoft\CreatorTemp\ipykernel_21416\1393355345.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['views'].fillna(0, inplace=True)

In [199]:
value = df['views'].nlargest(10).iloc[-1]

In [200]:
df.loc[df['views'] >value , 'views'] = value

In [201]:
df.loc[df['views'] > value , 'views'] = value

In [202]:
int(df['views'].sum())

652812

In [203]:
import pandas as pd
df = pd.read_csv('type1_data1.csv')
df

        id   age city    f1  f2      f3    f4         f5  subscribed   views
0     id01   2.0   서울   NaN   0    gold  ENFJ  91.297791  2024-07-16  6820.0
1     id02   9.0   서울  70.0   1     NaN  ENFJ  60.339826  2024-05-12  2534.0
2     id03  27.0   서울  61.0   1    gold  ISTJ  17.252986  2024-03-16  7312.0
3     id04  75.0   서울   NaN   2     NaN  INFP  52.667078  2024-07-21   493.0
4     id05  24.0   서울  85.0   2     NaN  ISFJ  29.269869  2024-03-07  1338.0
..     ...   ...  ...   ...  ..     ...   ...        ...         ...     ...
115  id114  22.0   대구  23.0   0    gold  INTP   0.000000  2025-02-17  9747.0
116  id115  23.0   부산  65.0   0     vip  ENTP   0.000000  2025-02-17  5628.0
117  id116  23.0   서울  12.0   1  silver  INFP   0.000000  2025-02-17  1267.0
118  id117  23.0   대구  65.0   2    gold  INFP   0.000000  2025-02-17  6543.0
119  id118  24.0   부산  94.0   1     vip  ESFJ   0.000000  2025-02-17  2356.0

[120 rows x 10 columns]

In [204]:
df['new'] = df['f4'].str[2:4]

In [205]:
cond = df['new'] == 'FJ'

In [206]:
df = df[cond]

In [207]:
print(round(df['f2'].mean(),2))

0.61

In [211]:
import pandas as pd
df = pd.read_csv("type1_data1.csv")
cond = df['f4'].str.contains('FJ')
df = df[cond]

In [212]:
df

        id   age city     f1  f2      f3    f4         f5  subscribed    views
0     id01   2.0   서울    NaN   0    gold  ENFJ  91.297791  2024-07-16   6820.0
1     id02   9.0   서울   70.0   1     NaN  ENFJ  60.339826  2024-05-12   2534.0
4     id05  24.0   서울   85.0   2     NaN  ISFJ  29.269869  2024-03-07   1338.0
6     id07  36.3   서울   60.0   1     NaN  ISFJ   9.796378  2024-01-11     61.0
7     id08  38.0   서울  101.0   1  silver  INFJ  83.685380  2024-03-06   3260.0
8     id09   3.3   서울   35.0   2     NaN  ESFJ  17.252986  2024-03-21   2764.0
13    id13  15.0   서울   68.0   0    gold  ESFJ  83.685380  2024-12-30   5643.0
18    id18  41.0   서울   87.0   2    gold  ISFJ  80.138280  2024-03-03   7933.0
24    id24  80.0   부산   44.0   0    gold  INFJ  73.586397  2024-09-11   5976.0
31    id31  86.0   부산   77.0   0    gold  ESFJ  73.586397  2024-02-11   8014.0
32    id32  25.0   부산   64.0   0     vip  ISFJ  13.049921  2024-05-24  17421.0
33    id33  47.0   부산   94.0   0  silver  ENFJ  17.252986  2024-04-02   3880.0
39    id39  56.0   부산   50.0   0     NaN  INFJ  33.308999  2024-12-22      NaN
41    id41  81.0   대구   55.0   0    gold  ENFJ  37.113739  2024-10-04   8640.0
45    id45  97.0   대구   88.0   0    gold  ENFJ  13.049921  2024-06-21   8317.0
52    id52  97.0   대구   82.0   1    gold  ISFJ  90.496999  2024-05-20   8518.0
54    id54  53.0   대구    NaN   1    gold  ENFJ  69.730313  2024-06-21   5872.0
57    id57   3.0   대구  111.0   0  silver  ISFJ  29.269869  2024-01-12   4421.0
59    id59  64.0   대구    NaN   1  silver  ESFJ  20.129444  2024-06-23   4994.0
63    id63  88.0   경기   86.0   1  silver  ISFJ  73.586397  2024-12-01   4053.0
67    id67  66.0   경기   52.0   1     NaN  ISFJ  73.586397  2024-06-17   1159.0
73    id73  90.0   경기    NaN   1     NaN  ISFJ  73.586397  2024-08-12    512.0
81    id81  86.0   경기   50.0   1     NaN  ISFJ  37.113739  2024-09-14    244.0
85    id85  83.6   경기   55.0   0    gold  INFJ  80.138280  2024-09-24   6719.0
99    id99   1.0   경기   47.0   0    gold  ESFJ  97.381034  2024-12-02   6090.0
105  id104  21.0   서울   13.0   0  silver  ESFJ   0.000000  2025-02-17   4556.0
106  id105  21.0   경기   24.0   0    gold  ESFJ   0.000000  2025-02-17   7654.0
119  id118  24.0   부산   94.0   1     vip  ESFJ   0.000000  2025-02-17   2356.0

In [213]:
import pandas as pd
df = pd.read_csv('type1_data1.csv')

cond1 = df['f3'] == 'gold'
cond2 = df['f2'] == 2
df = df[cond1&cond2]

In [214]:
df

        id   age city    f1  f2    f3    f4         f5  subscribed   views
18    id18  41.0   서울  87.0   2  gold  ISFJ  80.138280  2024-03-03  7933.0
29    id29 -13.5   부산  47.0   2  gold  ENTP  67.886373  2024-08-28  6793.0
42    id42  65.0   대구  48.0   2  gold  ESTP  33.308999  2024-02-09  5999.0
55    id55  75.0   대구  63.0   2  gold  ENTP  13.049921  2024-02-06  6042.0
64    id64  43.0   경기  62.0   2  gold  ESFP  73.586397  2024-02-22  5995.0
68    id68  35.0   경기  45.0   2  gold  ISFP  67.886373  2024-07-29  8599.0
71    id71  35.0   경기  84.0   2  gold  ISFP  52.667078  2024-07-15  8087.0
101   id68  35.0   경기  45.0   2  gold  ISFP  67.886373  2024-07-29  8599.0
112  id111  22.0   부산  65.0   2  gold  ENTP   0.000000  2025-02-17  7894.0
118  id117  23.0   대구  65.0   2  gold  INFP   0.000000  2025-02-17  6543.0

In [215]:
result = df['f1'].var()

In [217]:
print(round(result,2))

235.43

In [218]:
import pandas as pd
df = pd.read_csv('type1_data1.csv')

In [219]:
df['age'] = df['age'] + 1

In [220]:
cond1 = (df['age'] >= 20) & ( df['age'] < 30 )
cond2 = ( df['age'] >=30 ) & ( df['age'] < 40 )
result = abs( df[cond1]['views'].mean() - df[cond2]['views'].mean() )
print( round(result,2)  )

263.13

In [221]:
import pandas as pd
df = pd.read_csv('type1_data1.csv')

df['subscribed'] = pd.to_datetime(df['subscribed'])

In [228]:
import pandas as pd
df['subscribed'] = pd.read_csv('type1_data1.csv')
df = pd.to_datetime(df['subscribed'])

df

ValueError: to assemble mappings requires at least that [year, month, day] be specified: [day,month,year] is missing

In [248]:
import pandas as pd
df = pd.read_csv('type1_data1.csv')

In [249]:
df['subscribed'] = pd.to_datetime(df['subscribed'])

In [250]:
df

        id   age city    f1  f2      f3    f4         f5 subscribed   views
0     id01   2.0   서울   NaN   0    gold  ENFJ  91.297791 2024-07-16  6820.0
1     id02   9.0   서울  70.0   1     NaN  ENFJ  60.339826 2024-05-12  2534.0
2     id03  27.0   서울  61.0   1    gold  ISTJ  17.252986 2024-03-16  7312.0
3     id04  75.0   서울   NaN   2     NaN  INFP  52.667078 2024-07-21   493.0
4     id05  24.0   서울  85.0   2     NaN  ISFJ  29.269869 2024-03-07  1338.0
..     ...   ...  ...   ...  ..     ...   ...        ...        ...     ...
115  id114  22.0   대구  23.0   0    gold  INTP   0.000000 2025-02-17  9747.0
116  id115  23.0   부산  65.0   0     vip  ENTP   0.000000 2025-02-17  5628.0
117  id116  23.0   서울  12.0   1  silver  INFP   0.000000 2025-02-17  1267.0
118  id117  23.0   대구  65.0   2    gold  INFP   0.000000 2025-02-17  6543.0
119  id118  24.0   부산  94.0   1     vip  ESFJ   0.000000 2025-02-17  2356.0

[120 rows x 10 columns]

In [251]:
df['year'] = df['subscribed'].dt.year
df['month'] = df['subscribed'].dt.month
df['day'] = df['subscribed'].dt.day

In [252]:
df

,id,age,city,f1,f2,f3,f4,f5,subscribed,views,year,month,day
0,id01,2.0,서울,NaN,0,gold,ENFJ,91.297791,2024-07-16,6820.0,2024,7,16
1,id02,9.0,서울,70.0,1,NaN,ENFJ,60.339826,2024-05-12,2534.0,2024,5,12
2,id03,27.0,서울,61.0,1,gold,ISTJ,17.252986,2024-03-16,7312.0,2024,3,16
3,id04,75.0,서울,NaN,2,NaN,INFP,52.667078,2024-07-21,493.0,2024,7,21
4,id05,24.0,서울,85.0,2,NaN,ISFJ,29.269869,2024-03-07,1338.0,2024,3,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...
115,id114,22.0,대구,23.0,0,gold,INTP,0.000000,2025-02-17,9747.0,2025,2,17
116,id115,23.0,부산,65.0,0,vip,ENTP,0.000000,2025-02-17,5628.0,2025,2,17
117,id116,23.0,서울,12.0,1,silver,INFP,0.000000,2025-02-17,1267.0,2025,2,17
118,id117,23.0,대구,65.0,2,gold,INFP,0.000000,2025-02-17,6543.0,2025,2,17
119,id118,24.0,부산,94.0,1,vip,ESFJ,0.000000,2025-02-17,2356.0,2025,2,17

In [253]:
cond1 = df['year'] == 2024
cond2 = df['month'] == 2
cond3 = df['f3'] == 'gold'

df = df[cond1&cond2&cond3]


print(len(df))

5

In [254]:
import pandas as pd

df = pd.read_csv('type1_data1.csv')
cond = df['views'] <= 1000
df = df[cond]

In [255]:
df = df['f4'].value_counts()

In [256]:
df

f4
ISFJ    3
INFP    2
ESTJ    2
INTP    2
ISFP    1
Name: count, dtype: int64

In [257]:
print(df.index[0])

ISFJ

In [258]:
import pandas as pd

df = pd.read_csv('type1_data1.csv')

In [259]:
cond = df['views'] <= 1000
df = df[cond]

In [260]:
df['f4'].mode()[0]

'ISFJ'

In [261]:
import pandas as pd

df = pd.read_csv('type1_data1.csv')

In [262]:
df.dropna( inplace= True)
df = df.groupby(['city']).mean(numeric_only = True)

In [263]:
df

            age         f1        f2         f5        views
city
경기    48.704000  61.360000  0.760000  52.106731  8127.880000
대구    49.773333  66.200000  0.666667  27.370166  6819.133333
부산    35.075000  65.875000  0.687500  38.638715  6945.437500
서울    38.000000  60.142857  0.785714  41.122705  7369.142857

In [265]:
print(df.sort_values('f2', ascending=False).index[0])

서울