In [1]:
import pandas as pd

dataframe = pd.read_csv("C://Users//wkdal//Desktop//archive//titanic.csv")

dataframe.head()

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1.0,1.0,"Allen, Miss. Elisabeth Walton",female,29.0000,0.0,0.0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
1,1.0,1.0,"Allison, Master. Hudson Trevor",male,0.9167,1.0,2.0,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"
2,1.0,0.0,"Allison, Miss. Helen Loraine",female,2.0000,1.0,2.0,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
3,1.0,0.0,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1.0,2.0,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON"
4,1.0,0.0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1.0,2.0,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"

In [2]:
# 변수.rename(colums = {'바꿀 대상':'새 이름'}).head()

dataframe.rename(columns = {'pclass' : 'Passenger Class'}).head(3)

,Passenger Class,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1.0,1.0,"Allen, Miss. Elisabeth Walton",female,29.0000,0.0,0.0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
1,1.0,1.0,"Allison, Master. Hudson Trevor",male,0.9167,1.0,2.0,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"
2,1.0,0.0,"Allison, Miss. Helen Loraine",female,2.0000,1.0,2.0,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"

In [5]:
# 딕셔너리 키가 없을 시, 딕셔너리에 키(열)를 생성하려는 목적 -> 일반 딕셔너리 (dict)는 없는 키에 접근하면 KeyError 발생

import collections # pythonn 표준 라이브러리로, defaultdict는 없는 키에 자동으로 기본값을 지정

# 딕셔너리 생성

columns_names = collections.defaultdict(str) # defaultdict(str)은 없는 키에 접근하면 자동으로 빈 [문자_서식_포맷_정규] '' 생성

# 딕셔너리의 키 생성 (키는 dataframe의 columns에서 가져옴.)
for name in dataframe.columns:
    columns_names[name]

In [6]:
columns_names

defaultdict(str,
            {'pclass': '',
             'survived': '',
             'name': '',
             'sex': '',
             'age': '',
             'sibsp': '',
             'parch': '',
             'ticket': '',
             'fare': '',
             'cabin': '',
             'embarked': '',
             'boat': '',
             'body': '',
             'home.dest': ''})