In [1]:
import pandas as pd

dataframe = pd.read_csv("C://Users//wkdal//Desktop//archive//titanic.csv")

dataframe.head(3)

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1.0,1.0,"Allen, Miss. Elisabeth Walton",female,29.0000,0.0,0.0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
1,1.0,1.0,"Allison, Master. Hudson Trevor",male,0.9167,1.0,2.0,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"
2,1.0,0.0,"Allison, Miss. Helen Loraine",female,2.0000,1.0,2.0,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"

In [11]:
dataframe.groupby('ticket').mean()

TypeError: agg function failed [how->mean,dtype->object]

In [7]:
# TypeError: agg function failed [how->mean,dtype->object]
# df 안에 문자열이 들어간 열이 있고, 그 열에도 mean()을 적용하려다 오류가 남.

In [13]:
dataframe['age'] = dataframe['age'].astype(int)

IntCastingNaNError: Cannot convert non-finite values (NA or inf) to integer

In [21]:
dataframe['age'].isnull() #null값이면 True

0       False
1       False
2       False
3       False
4       False
        ...
1305     True
1306    False
1307    False
1308    False
1309     True
Name: age, Length: 1310, dtype: bool

In [22]:
dataframe['age'].isnull().sum()

264

In [34]:
dataframe = dataframe.dropna(subset=['age'])

In [35]:
dataframe['age'] = dataframe['age'].astype(int)

In [36]:
dataframe.groupby('age').mean()

# TypeError: agg function failed [how->mean,dtype->object]
## age 열이 아니라 다른 열 때문이다. groupby는 데이터프레임 전체의 열에서 age기준으로 묶는 것이기 때문이다. -

TypeError: agg function failed [how->mean,dtype->object]

In [37]:
# 방법 1: 숫자형 열만 자동 선택
dataframe.groupby('age').mean(numeric_only=True)  # 추천

# 방법 2: 명시적으로 숫자열만 골라서 집계
#dataframe.groupby('age')[['fare', 'sibsp', 'parch']].mean()

       pclass  survived     sibsp     parch       fare   body
age
0    2.500000  0.833333  0.833333  1.416667  28.890275    NaN
1    2.700000  0.700000  1.600000  1.500000  28.050420    NaN
2    2.583333  0.333333  1.916667  1.250000  34.881250    4.0
3    2.571429  0.714286  1.714286  1.285714  24.066671    NaN
4    2.600000  0.700000  1.600000  1.400000  29.543330    NaN
..        ...       ...       ...       ...        ...    ...
70   2.000000  0.000000  0.333333  0.333333  29.750000  220.0
71   1.000000  0.000000  0.000000  0.000000  42.079200   22.0
74   3.000000  0.000000  0.000000  0.000000   7.775000    NaN
76   1.000000  1.000000  1.000000  0.000000  78.850000    NaN
80   1.000000  1.000000  0.000000  0.000000  30.000000    NaN

[73 rows x 6 columns]

In [39]:
# 행을 그룹핑하고 카운트
dataframe.groupby('survived')['name'].count()
# 변수.groupby('그룹할기준열')['계산할 숫자열'].count()

survived
0.0    619
1.0    427
Name: name, dtype: int64

In [41]:
# 행을 그룹핑한 다음 평균 계산


dataframe.groupby(['sex','survived'])['age'].mean()

#변수.groupby(['그룹기준열1', '그룹기준열2'])['계산할 숫자열'].mean()

sex     survived
female  0.0         25.239583
        1.0         29.804795
male    0.0         31.487572
        1.0         26.940741
Name: age, dtype: float64