In [10]:
import pandas as pd
dataframe = pd.read_csv("C://Users//wkdal//Desktop//archive//titanic.csv")
dataframe.head()

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
0,1.0,1.0,"Allen, Miss. Elisabeth Walton",female,29.0000,0.0,0.0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
1,1.0,1.0,"Allison, Master. Hudson Trevor",male,0.9167,1.0,2.0,113781,151.5500,C22 C26,S,11,NaN,"Montreal, PQ / Chesterville, ON"
2,1.0,0.0,"Allison, Miss. Helen Loraine",female,2.0000,1.0,2.0,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"
3,1.0,0.0,"Allison, Mr. Hudson Joshua Creighton",male,30.0000,1.0,2.0,113781,151.5500,C22 C26,S,NaN,135.0,"Montreal, PQ / Chesterville, ON"
4,1.0,0.0,"Allison, Mrs. Hudson J C (Bessie Waldo Daniels)",female,25.0000,1.0,2.0,113781,151.5500,C22 C26,S,NaN,NaN,"Montreal, PQ / Chesterville, ON"

In [14]:
# 처음 두 이름을 대문자로 바꾼다. : 열 원소 순회하기

for name in dataframe['name'][0:3]:
    print(name.upper())

ALLEN, MISS. ELISABETH WALTON
ALLISON, MASTER. HUDSON TREVOR
ALLISON, MISS. HELEN LORAINE

In [17]:
# 함수 정의 : 모든 열 원소에 함수 적용.

def uppercase(x):
    return x.upper()

dataframe['name'].apply(uppercase)[0:2]
# AttributeError: 'float' object has no attribute 'upper'
# -> NaN을 float취급함. NaN을 지우거나 대체해야 함.

AttributeError: 'float' object has no attribute 'upper'

In [22]:
# NaN이 몇 개인지 확인.
print(dataframe['name'].isna().sum()) # isna : 결측값(Nan)확인하는 함수. # 변수['열'].isna()

1

In [23]:
# NaN을 지움
dataframe = dataframe.dropna(subset=['name'])
# dropna() 결측값이 있는 행 또는 열 삭제
# 변수.dropna() 행 전체 삭제 # 변수.dropna(subset=['특정 열에 있는 nan행만 삭제'])
# 변수.dropna(axis = 1) 열 삭제

In [24]:
print(dataframe['name'].isna().sum())

0

In [25]:
def uppercase(x):
    return x.upper()

dataframe['name'].apply(uppercase)[0:2]

0     ALLEN, MISS. ELISABETH WALTON
1    ALLISON, MASTER. HUDSON TREVOR
Name: name, dtype: object