In [16]:
# 데이터프레임을 만듭니다.

data_a = { 'id' : ['1','2','3'],
           'first' : ['alex','amy','allen'],
           'last' : ['anderson','ackerman','ali']}

dataframe_a = pd.DataFrame(data_a, columns = ['id','first','last'] )


data_b = { 'id' : ['4','5','6'],
           'first' : ['billy','brian','bran'],
           'last' : ['bonder','black','balwner']}

dataframe_b = pd.DataFrame(data_b, columns = ['id','first','last'])

In [18]:
# 열 만들기
dataframe_c = pd.concat([dataframe_a, dataframe_b], axis = 0)

# 기본 문법 pd.concat([df1, df2], axis=0, ignore_index=False)
# axis가 1이면 열 방향(옆으로), 0이면 행 방향(아래로)
# ignore_index = False(index 생성 x)

In [19]:
# 행을 만들기.

import pandas as pd
row = pd.Series([10,'chirs','chillon'], index = ['id','first','last'])
row = pd.DataFrame(row)
print(type(row))

<class 'pandas.core.frame.DataFrame'>

In [22]:
#dataframe_b.append(row,ignore_index = True)
# AttributeError: 'DataFrame' object has no attribute 'append' -> pandas 이전 버전에는 사용 가능했지만, pandas 2.0부터 append사용 불가
dataframe_b = pd.concat([dataframe_b, row.T], ignore_index=True)
#

In [23]:
dataframe_b.head()

   id  first     last
0   4  billy   bonder
1   5  brian    black
2   6   bran  balwner
3  10  chirs  chillon